@import "../../assets/src/scss/styles";

.about-treatments-in-grid-block {
	.inner {
		width: 100%;
		max-width: 1240px;
		margin: 0 auto;

		.wrapper {
			padding: 120px 0 128px;
			@include mobile-only {
				padding: 100px 16px 40px;
			}

			&__treatments {
				overflow: hidden;
				@include mobile-only {
					padding: 0 22px;
				}

				.swiper-wrapper {
					@include desktop {
						display: flex;
						align-items: flex-start;
						justify-content: space-between;
						column-gap: rem(71);
					}
				}

				.swiper-slide {
					@include desktop {
						flex-shrink: 1;
					}
				}

				.wrapper__treatments-pagination {
					@include desktop {
						display: none;
					}
					display: flex;
					align-items: center;
					justify-content: center;
					column-gap: 10px;
					margin-top: 100px;

					.bullet {
						width: 6px;
						height: 6px;
						border-radius: 50%;
						background-color: $white;
						opacity: .25;

						&-active {
							opacity: 1;
						}
					}
				}

				.treatment {
					&__item {
					}

					&__image {
						width: 100%;
						height: 180px;
						overflow: hidden;
						position: relative;
						margin-bottom: 30px;

						img {
							width: 100%;
							height: 100%;
							top: 0;
							left: 0;
							object-fit: cover;
						}
					}

					&__title {
						text-align: left;
						font: normal normal bold 16px/22px $font-montserrat;
						letter-spacing: 0;
						color: $black;
						margin-bottom: 20px;
					}

					&__text {
						text-align: left;
						font: normal normal normal 16px/22px $font-montserrat;
						color: $black;
						letter-spacing: 0;
					}
				}
			}
		}
	}
}