@import "./assets/src/scss/styles";

body, button, input, select, optgroup, textarea {
	-webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes
	font-family: $font-main;
	line-height: 1.2;
}

.editor-styles-wrapper .block-editor-block-list__block:not(.is-selected):not(.is-typing) ul,
.editor-styles-wrapper ul {
	list-style: none !important;
	margin: 0;
}

.block-editor-block-list__block {
	&.is-block-collapsed {
		margin-top: 0;
		margin-bottom: 0;
	}

	&:not(.is-selected):not(.is-typing):not(.block-editor-block-list__block) {
		@import "./assets/src/scss/styles";
	}
}

//:root {
//	--container-width: 100%;
//	@include m(sm) {
//		--container-width: #{map-get($container-max-widths, sm)}; //sass-lint:disable-line function-name-format
//	}
//	@include m(md) {
//		--container-width: #{map-get($container-max-widths, md)}; //sass-lint:disable-line function-name-format
//	}
//	@include m(lg) {
//		--container-width: #{map-get($container-max-widths, lg)}; //sass-lint:disable-line function-name-format
//	}
//	@include m(xl) {
//		--container-width: #{map-get($container-max-widths, xl)}; //sass-lint:disable-line function-name-format
//	}
//}

.acf-field.img-select .acf-checkbox-list input,
.acf-field.img-select .acf-radio-list input {
	position: absolute;
	left: -9999px;
}

.acf-field.img-select .acf-checkbox-list img,
.acf-field.img-select .acf-radio-list img {
	border: 2px solid #0000;
	width: 32px;
	padding: 3px;
	border-radius: 3px;
}

.acf-field.img-select .acf-checkbox-list input:checked + img,
.acf-field.img-select .acf-radio-list input:checked + img {
	border: 2px solid #444;
}

.default-block-container {
	p {
		color: #000;
	}
}
