@import "../../assets/src/scss/styles";

.tabs-block {
	.inner {
		width: 100%;
		max-width: 1180px;
		margin: 0 auto;

		.tab {
			&__wrapper {
				.horizontal {
					display: flex;
					list-style: none;
					margin: 0;
					padding: 0;
				}
			}

			&__button {
				width: 50%;
				padding-bottom: 30px;
				text-align: center;
				border-bottom: 1px solid #CECECE;
				@include mobile-only {
					padding-bottom: 20px;
				}

				&.active {
					border-bottom: 4px solid $blue;
				}
			}

			&__link {
				text-align: left;
				font: normal normal normal 24px/32px $font-playfair;
				letter-spacing: 0;
				color: $black;
				text-transform: capitalize;
				@include mobile-only {
					font: normal normal normal 16px/24px $font-playfair;
				}
			}

			&__content {
				padding: 76px 0;
				display: flex;
				align-items: center;
				justify-content: space-between;
				@include mobile-only {
					padding: 50px 16px 80px;
				}

				.wrapper {
					&__content {
						width: 50%;
						padding-right: 0;
						@include mobile-only {
							width: 100%;
							padding: 0;
						}

						.text {
							text-align: left;
							font: normal normal normal 16px/22px $font-montserrat;
							letter-spacing: 0;
							color: $black666;
							@include mobile-only {
								font: normal normal normal 15px/21px $font-montserrat;
							}
						}

						.tab_additional_content {
							padding: 48px 0 0;
							@include mobile-only {
								padding: 40px 0 0;
							}

							.link {
								display: flex;
								align-items: center;
								text-align: left;
								font: normal normal normal 28px/32px $font-playfair;
								letter-spacing: 0;
								color: $black;
								transition: all .2s ease-in-out;
								margin-bottom: 20px;
								white-space: nowrap;

								&:hover {
									color: $blue;

									.icon {
										display: block;
										width: 108px;
										height: 14px;
										margin-left: 60px;
									}
								}

								.icon {
									display: none;
									margin-left: 0;
									width: 0;
									height: 14px;
									background-image: url("data:image/svg+xml,%3Csvg width='108' height='14' viewBox='0 0 108 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 5C13.8333 11.5 55.5 20.5 107 1.5M107 1.5L96 0.5M107 1.5L104 7' stroke='%231F4A94' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
									background-position: center;
									background-repeat: no-repeat;
									background-size: 100%;
									transition: all .3s ease-in-out;
								}
							}
						}
					}

					&__image {
						width: 50%;
						position: relative;
						padding: 13px 0 57px 126px;
						@include mobile-only {
							display: none;
						}

						.image {
							position: relative;
							z-index: 10;
						}

						.shape {
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							z-index: 0;
						}
					}
				}
			}
		}
	}
}
