@import "../../assets/src/scss/styles";

.book-form-block {
	padding: 173px 0;
	@include mobile-only {
		padding: 37px 0;
	}

	.inner {

		.wrapper {
			max-width: 1175px;
			width: 100%;
			margin: 0 auto;
			display: flex;
			align-items: center;
			@include mobile-only {
				flex-direction: column;
			}

			&__image {
				width: 54%;
				height: 100%;
				position: relative;
				padding: 0 96px;
				margin-right: 10px;
				@include mobile-only {
					width: 100%;
					padding: 0 63px;
				}

				.image {
					width: 100%;
					height: 100%;
					position: relative;
					z-index: 10;
				}

				.shape_top {
					position: absolute;
					top: 8px;
					left: 0;
					z-index: 0;
				}

				.shape_bottom {
					position: absolute;
					bottom: 16px;
					right: 0;
					z-index: 0;
				}
			}

			&__form {
				width: 31%;
				height: 100%;
				@include mobile-only {
					width: 100%;
				}

				.gform_title {
					text-align: left;
					font: normal normal 800 48px/56px $font-playfair;
					letter-spacing: 0;
					color: $black;
					padding: 20px 0 60px;
					margin: 0;
					@include mobile-only {
						text-align: center;
						padding: 20px 0 40px;
					}
				}

				.form {
					padding: 80px 0 128px;
					@include mobile-only {
						padding: 0 30px 0 30px;
					}
				}
			}
		}
	}
}
