@import "../../assets/src/scss/styles";

.map-block {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	@include mobile-only {
		flex-direction: column-reverse;
	}
	@include mobile-only {
		iframe {
			height: 366px;
		}
	}
	.inner {
		max-width: 1240px;
		height: 100%;
		width: 100%;
		margin: 0 auto;
		position: absolute;
		top: 0;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		@include mobile-only {
			position: relative;
			padding: 60px 16px 80px;
			flex-direction: column;
			justify-content: center;
			height: auto;
		}

		.over {
			width: 45%;
			min-width: 576px;
			padding: 53px 50px 70px;
			background-color: $white;
			@include mobile-only {
				width: 100%;
				max-width: 100%;
				min-width: 100%;
				padding: 0;
			}

			.title {
				text-align: left;
				font: normal normal 500 48px/56px $font-playfair;
				letter-spacing: 0;
				color: $black;
				text-transform: capitalize;
				margin-bottom: 18px;
				@include mobile-only {
					text-align: center;
					font: normal normal 500 40px/50px $font-playfair;
					margin-bottom: 43px;
				}
			}

			.items {
				@include mobile-only {
					display: flex;
					flex-direction: column;
				}

				.item {
					display: flex;
					align-items: flex-start;
					justify-content: space-between;
					margin-bottom: 78px;
					@include mobile-only {
						display: flex;
						flex-direction: column;
						margin-bottom: 60px;
					}

					&:last-child {
						margin-bottom: 0;
					}

					.column {
						&__contact {
							width: 60%;
							padding-right: 30px;
							@include mobile-only {
								width: 100%;
								padding: 0;
								margin-bottom: 60px;
							}

							.title {
								text-align: left;
								font: normal normal 500 32px/43px $font-playfair;
								letter-spacing: -0.96px;
								color: $black;
								@include mobile-only {
									font: normal normal 500 24px/32px $font-playfair;
									letter-spacing: -0.72px;
									margin-bottom: 20px;
								}
							}

							.address {
								text-align: left;
								font: normal normal 300 16px/25px $font-montserrat;
								letter-spacing: 0;
								color: $black;
								margin-bottom: 25px;
							}

							.phone {
								text-align: left;
								font: normal normal 300 16px/25px $font-montserrat;
								letter-spacing: 0;
								color: $black;
								margin-bottom: 0;
							}

							.email {
								text-align: left;
								font: normal normal 300 16px/25px $font-montserrat;
								letter-spacing: 0;
								color: $black;
								margin-bottom: 0;
							}
						}

						&__open_hours {
							width: 40%;
							@include mobile-only {
								width: 100%;
								padding: 0;
								margin: 0;
							}

							.title {
								text-align: left;
								font: normal normal 500 32px/43px $font-playfair;
								letter-spacing: -0.96px;
								color: $black;
								@include mobile-only {
									font: normal normal 500 24px/32px $font-playfair;
									letter-spacing: -0.72px;
									margin-bottom: 20px;
								}
							}

							.date {
								text-align: left;
								font: normal normal 300 16px/26px $font-montserrat;
								letter-spacing: 0;
								color: $black;
								margin-bottom: 0;
							}
						}
					}
				}
			}
		}
	}
}
