@import "../../assets/src/scss/styles";

.intro-fullscreen-blue-shape-block {
	position: relative;
	padding-bottom: 130px;
	height: 100vh;
	max-height: 900px;
	display: flex;
	align-items: flex-end;
	@include tablet {
		padding-top: 40%;
	}
	@include mobile-only {
		padding-bottom: 85px;
		padding-top: 280px;
		height: auto;
	}

	.content {
		&__wrapper {
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
			width: 100%;
			max-width: 1200px;
			margin: 0 auto;
			position: relative;
			z-index: 10;
			flex-direction: row;
			@include mobile-only {
				flex-direction: column;
				align-items: center;
				justify-content: center;
			}

			.title {
				font: normal normal 300 71px/81px $font-swear;
				color: #fff;
				width: 330px;
				@include desktop {
					width: 100%;
					text-align: left;
					margin-bottom: 50px;
				}
				@include mobile-only {
					text-align: center;
					margin-bottom: 105px;
					font: normal normal 300 62px/71px $font-swear;
				}
			}

			.text {
				text-align: left;
				font: normal normal 300 16px/22px $font-montserrat;
				letter-spacing: 0;
				color: #FFFFFF;
				width: 100%;
				@include mobile-only {
					text-align: center;
					width: 90%;
				}
			}

			.button {
				border-radius: 0;
				z-index: 10;
				border: 1px solid $white;
				outline: none;
				cursor: pointer;
				height: 50px;
				padding: 16px 36px;
				display: flex;
				align-items: center;
				align-self: flex-start;
				justify-content: center;
				text-align: center;
				background: transparent;
				color: #fff;
				font: normal normal 500 15px/19px $font-montserrat;
				@include mobile-only {
					display: none;
				}
			}
		}

		&__col {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			align-items: flex-start;
			width: 100%;

			&:first-child {
				width: 50%;
				@include mobile-only {
					width: 100%;
				}
			}

			&:last-child {
				width: 50%;
				@include mobile-only {
					width: 100%;
				}
			}

			@include mobile-only {
				align-items: center;
			}
		}
	}

	.background__image {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		object-fit: cover;
		object-position: center top;
		z-index: 0;

		&:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: transparent linear-gradient(180deg, #00000000 0%, #00000080 100%) 0% 0% no-repeat padding-box;
		}
	}
}