@import "../../assets/src/scss/styles";

.benefits-used-block {
	.inner {
		width: 100%;
		max-width: 1240px;
		margin: 0 auto;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		padding: 118px 0 0;
		@include mobile-only {
			padding: 80px 16px;
			flex-direction: column;
		}

		.wrapper {
			&__content {
				width: 47%;
				padding: 0;
				@include mobile-only {
					width: 100%;
				}

				&_inner {
					padding: 0;
					@include mobile-only {
						width: 100%;
					}
				}

				.title {
					text-align: left;
					font: normal normal normal 48px/56px $font-swear;
					letter-spacing: 0;
					color: $black;
					text-transform: capitalize;
					margin-top: 70px;
					margin-bottom: 20px;
					@include mobile-only {
						margin-top: 0;
						margin-bottom: 20px;
						font: normal normal normal 40px/52px $font-swear;
					}
				}

				.text {
					&_before {
						text-align: left;
						font: normal normal normal 16px/22px $font-montserrat;
						letter-spacing: 0;
						color: $black666;
						margin-bottom: 40px;
						@include mobile-only {
							font: normal normal normal 15px/24px $font-montserrat;
						}
					}

					&_middle {
						text-align: left;
						font: normal normal normal 16px/22px $font-montserrat;
						letter-spacing: 0;
						color: $black666;
						margin-top: 10px;
						margin-bottom: 30px;
						@include mobile-only {
							font: normal normal normal 15px/24px $font-montserrat;
							margin-top: 10px;
							margin-bottom: 40px;
						}
					}

					&_after {
						text-align: left;
						font: normal normal normal 16px/22px $font-montserrat;
						letter-spacing: 0;
						color: $black666;
						margin-top: 10px;
						@include mobile-only {
							font: normal normal normal 15px/24px $font-montserrat;
						}
					}
				}

				.list {
					&.one__column {
						display: flex;
						flex-direction: column;
					}

					&.two__column {
						display: grid;
						grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
						column-gap: 50px;
					}

					&__item {
						display: flex;
						align-items: flex-start;
						justify-content: flex-start;
						margin-bottom: 25px;
						@include mobile-only {
							margin-bottom: 28px;
						}
					}

					&__icon {
						width: 23px;
						min-width: 23px;
						height: 23px;
						border-radius: 50%;
						background-color: $blue;
						display: flex;
						align-items: center;
						justify-content: center;
						margin-right: 20px;

						.fa {
							font-size: 15px;
							color: $white;
						}
					}

					&__text {
						text-align: left;
						font: normal normal normal 14px/22px $font-montserrat;
						letter-spacing: 0;
						color: $black666;
					}
				}
			}

			&__image {
				width: 53%;
				position: relative;
				padding: 25px 130px 0 0;
				@include mobile-only {
					width: 100%;
					padding: 60px 0 50px;
				}

				.image {
					position: relative;
					z-index: 10;
				}

				.shape {
					top: 0;
					left: 0;
					bottom: auto;
					right: 0;
					width: 100%;
					height: 100%;
					position: absolute;
					@include mobile-only {
						top: 0;
						left: 0;
						object-fit: cover;
					}
				}
			}
		}
	}
}