@import "../../assets/src/scss/styles";

.banner-block {
	padding: 282px 0 182px;
	position: relative;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	@include mobile-only {
		padding: 130px 0;
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $black;
		opacity: .3;
		z-index: 1;
	}

	.image {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;

		img {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			object-fit: cover;
			object-position: center;
		}
	}

	.inner {
		width: 100%;
		max-width: 1240px;
		margin: 0 auto;
		z-index: 10;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		@include mobile-only {
			max-width: 100%;
			padding: 0 16px;
		}

		.title {
			text-align: center;
			font: normal normal 500 48px/56px $font-playfair;
			letter-spacing: 0;
			color: #FFFFFF;
			margin-bottom: 50px;
			@include mobile-only {
				font: normal normal 500 40px/52px $font-playfair;
			}
		}

		.button {
			background-color: $blue;
			height: 50px;
			padding: 16px 36px;
			text-align: center;
			font: normal normal 500 15px/19px $font-montserrat;
			letter-spacing: 0;
			color: $white;
			text-transform: uppercase;
			transition: all .2s ease;
			@include mobile-only {
				font: normal normal 500 14px/18px $font-montserrat;
			}

			&:hover {
				opacity: .8;
			}
		}
	}
}
