@import "../../assets/src/scss/styles";

.whats-included-block {

	.inner {
		width: 100%;
		max-width: 1240px;
		margin: 0 auto;
		@include mobile-only {
			padding: 36px 16px;
		}

		&__wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;
			@include mobile-only {
				flex-direction: column-reverse;
			}

			.wrapper {

				&__content {
					width: 40%;
					padding: 0 0 0 100px;
					@include mobile-only {
						width: 100%;
						margin: 0;
						padding: 0;
					}

					.title {
						text-align: left;
						font: normal normal normal 48px/56px $font-playfair;
						letter-spacing: 0;
						color: $black;
						margin-bottom: 50px;
						@include mobile-only {
							font: normal normal normal 40px/52px $font-playfair;
							margin-bottom: 92px;
						}
					}

					.item {
						display: flex;
						align-items: center;
						justify-content: flex-start;
						margin-bottom: 40px;

						&__wrapper {
							display: flex;
							flex-direction: column;
							align-items: flex-start;

							.icon {
								width: 23px;
								min-width: 23px;
								height: 23px;
								border-radius: 50%;
								background-color: $blue;
								display: flex;
								align-items: center;
								justify-content: center;
								margin-right: 20px;

								[class^='fa'] {
									font-size: 12px;
									color: $white;
								}
							}

							.text {
								margin-top: -4px;
								max-width: 352px;
								text-align: left;
								font: normal normal normal 16px/22px $font-montserrat;
								letter-spacing: 0;
								color: $black666;
							}
						}
					}
				}

				&__image {
					width: 50%;
					position: relative;
					padding: 109px 0 121px 105px;
					@include mobile-only {
						width: 100%;
						padding: 77px 0;
					}

					.image {
						z-index: 100;
						position: relative;
					}

					.shape {
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						width: 100%;
						height: 100%;
						z-index: 0;
						object-fit: cover;
					}
				}
			}
		}
	}
}
