@import "../../assets/src/scss/styles";

.title-block {
	.inner {
		max-width: 1240px;
		width: 100%;
		margin: 0 auto;
		position: relative;
		@include mobile-only {
			padding: 0 40px;
		}

		.title {
			text-align: center;
			font: normal normal normal 32px/40px $font-montserrat;
			letter-spacing: 0;
			color: $black;
			width: 63%;
			margin: 0 auto;
			@include mobile-only {
				font: normal normal normal 24px/34px $font-montserrat;
			}
		}

		.shape {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;

			img {
				width: 100%;
				height: 100%;
			}
		}
	}
}