@import "../../assets/src/scss/styles";

.title-block {
	.inner {
		max-width: 800px;
		width: 100%;
		margin: 0 auto;
		@include mobile-only {
			padding: 0 40px;
		}

		.title {
			text-align: center;
			font: normal normal normal 32px/40px $font-montserrat;
			letter-spacing: 0;
			color: $black;
			@include mobile-only {
				font: normal normal normal 24px/34px $font-montserrat;
			}
		}
	}
}