@import "../../assets/src/scss/styles";

.treatment-block {
	margin-bottom: 0;
	@include tablet {
		margin-bottom: 110px;
	}
	@include mobile-only {
		margin-bottom: 40px;
	}

	&.image__align_left {
		.inner {
			max-width: 1300px;
			width: 100%;
			margin: 0 auto;
			display: flex;
			align-items: center;
			@include mobile-only {
				flex-direction: column;
				padding: 0 16px;
			}
			@include tablet {
				flex-direction: row;
			}

			.column {
				&__image {
					width: 50%;
					position: relative;
					padding: 25px 130px 85px 0;
					@include mobile-only {
						width: 100%;
						margin-top: 60px;
						padding: 60px 0;
					}

					.image {
						padding: 0;
						z-index: 10;
						position: relative;
						@include mobile-only {
							width: 100%;
							height: 235px;
							position: relative;
							img {
								position: absolute;
								top: 0;
								left: 0;
								width: 100%;
								height: 100%;
								object-fit: cover;
							}
						}
					}

					.shape {
						position: absolute;
						top: 0;
						right: 0;
						width: 100%;
						height: 100%;
						z-index: 0;

						img {
							position: absolute;
							top: 0;
							right: 50px;
							width: auto;
							height: 100%;
						}
					}

					.content_wrapper {
						padding-right: 0;
					}
				}

				&__content {
					width: 31%;
					@include mobile-only {
						width: 100%;
						padding: 0;
					}

					.title {
						text-align: left;
						font: normal normal 500 48px/56px $font-swear;
						letter-spacing: 0;
						color: $black;
						text-transform: capitalize;
						margin-bottom: 20px;
						@include mobile-only {
							font: normal normal 500 40px/52px $font-swear;
						}
					}

					.text {
						padding-right: 23%;
						text-align: left;
						font: normal normal normal 16px/22px $font-montserrat;
						letter-spacing: 0;
						color: $black666;
						margin-bottom: 20px;
						@include mobile-only {
							font: normal normal normal 14px/22px $font-montserrat;
							padding: 0;
						}
					}

					.link {
						font: normal normal 500 15px/19px $font-montserrat;
						letter-spacing: 0;
						color: #1F4A94;
						text-transform: uppercase;
						position: relative;
						display: flex;
						align-items: center;

						.icon {
							margin-left: 20px;
							width: 33px;
							height: 7px;
							background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33.435' height='7.479' viewBox='0 0 33.435 7.479'%3E%3Cpath id='arrows-2' d='M46.438,42.28a.341.341,0,0,0-.244-.151l-3.3-.394a.34.34,0,1,0-.081.676l2.3.275c-2.377,1.706-16.425,10.9-31.542,2.067a.341.341,0,1,0-.344.588,27.329,27.329,0,0,0,13.981,3.871A33.209,33.209,0,0,0,45.59,43.181l-.718,2.454a.34.34,0,0,0,.231.422.335.335,0,0,0,.1.014.341.341,0,0,0,.327-.245l.955-3.264a.343.343,0,0,0-.044-.282Z' transform='translate(-13.059 -41.732)' fill='%231f4a94'/%3E%3C/svg%3E");
							background-size: 33px;
							background-position: center;
							background-repeat: no-repeat;
							transition: all .3s ease-in-out;
						}

						&:hover {
							.icon {
								margin-left: 15px;
								transform: rotate(-1deg);
							}
						}
					}
				}
			}
		}
	}

	&.image__align_right {
		.inner {
			max-width: 1300px;
			width: 100%;
			margin: 0 auto;
			display: flex;
			align-items: center;
			justify-content: space-between;
			@include mobile-only {
				flex-direction: column;
				padding: 0 16px;
			}
			@include tablet {
				flex-direction: row-reverse;
			}

			.column {
				&__image {
					width: 57%;
					position: relative;
					padding: 130px 60px 20px 130px;
					@include mobile-only {
						width: 100%;
						margin-bottom: 50px;
						padding: 0;
						padding-top: 60px;
					}

					.image {
						padding: 0;
						z-index: 10;
						position: relative;
						@include mobile-only {
							width: 100%;
							height: 235px;
							position: relative;
							img {
								position: absolute;
								top: 0;
								left: 0;
								width: 100%;
								height: 100%;
								object-fit: cover;
							}
						}
					}

					.shape {
						position: absolute;
						top: 0;
						left: -20px;
						width: 100%;
						height: 100%;
						z-index: 0;
						@include mobile-only {
							left: 0;
						}

						img {
							position: relative;
							top: auto;
							left: 0;
							right: auto;
							bottom: 0;
							width: 100%;
							height: 100%;
						}
					}

					.content_wrapper {
						padding-left: 100px;
					}
				}

				&__content {
					width: 50%;
					padding-left: 100px;
					@include mobile-only {
						width: 100%;
						padding-left: 0;
					}

					.title {
						text-align: left;
						font: normal normal 500 48px/56px $font-swear;
						letter-spacing: 0;
						color: $black;
						text-transform: capitalize;
						padding: 100px 0 20px;
						@include mobile-only {
							font: normal normal 500 40px/52px $font-swear;
							padding: 0;
							padding-bottom: 20px;
						}
					}

					.text {
						padding-right: 36%;
						text-align: left;
						font: normal normal normal 16px/22px $font-montserrat;
						letter-spacing: 0;
						color: $black666;
						margin-bottom: 20px;
						@include mobile-only {
							font: normal normal normal 15px/24px $font-montserrat;
							padding: 0;
						}
					}

					.link {
						font: normal normal 500 15px/19px $font-montserrat;
						letter-spacing: 0;
						color: #1F4A94;
						text-transform: uppercase;
						position: relative;
						display: flex;
						align-items: center;

						.icon {
							margin-left: 20px;
							width: 33px;
							height: 7px;
							background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33.435' height='7.479' viewBox='0 0 33.435 7.479'%3E%3Cpath id='arrows-2' d='M46.438,42.28a.341.341,0,0,0-.244-.151l-3.3-.394a.34.34,0,1,0-.081.676l2.3.275c-2.377,1.706-16.425,10.9-31.542,2.067a.341.341,0,1,0-.344.588,27.329,27.329,0,0,0,13.981,3.871A33.209,33.209,0,0,0,45.59,43.181l-.718,2.454a.34.34,0,0,0,.231.422.335.335,0,0,0,.1.014.341.341,0,0,0,.327-.245l.955-3.264a.343.343,0,0,0-.044-.282Z' transform='translate(-13.059 -41.732)' fill='%231f4a94'/%3E%3C/svg%3E");
							background-size: 33px;
							background-position: center;
							background-repeat: no-repeat;
							transition: all .3s ease-in-out;
						}

						&:hover {
							.icon {
								margin-left: 15px;
								transform: rotate(-1deg);
							}
						}
					}
				}
			}
		}
	}
}